#momane_toast {
  position: fixed;
  top: 5px;
  right: 10px;
  width: 400px;
  padding: 10px;
  background-color: gray;
  border: 1px solid gray;
  box-shadow: 10px 10px 1px 5px gray;
  font-size: 11px;
}

.momane_search, .momane_compare, .momane_download, .momane_out, .momane_link {
  text-decoration: none;
}

.momane_search:hover, .momane_compare:hover, .momane_download:hover, .momane_out:hover, .momane_link:hover {
  text-decoration: none;
}
